html{ 
    margin: 0% 25%;
}
body{
    background-color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    text-align: center;
    color: white;
    font-size: large;
}
#description{
    font-family: 'Courier New', Courier, monospace;
    margin-top: -20px;
    margin-bottom: 50px;
}
main{
    margin-top: 5px;
    font-size: large;
    color: white;
    border: 1px solid mediumturquoise;
    padding: 4%;
    background-color:mediumturquoise;
    border-radius: 2%;
    margin: 0 auto;
}
#name, #email, #number, #dropdown, #dropdown1, #textarea, #submit{
    border-radius: 5px;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
}
#textarea{
    resize:vertical;
    min-height: 100px;
}
#submit{
    background-color: rgb(87, 173, 87);
    font-size: large;
    color: white;
    height: 40px;
}
#submit:hover{
    background-color: green;
}
#notsure{
    margin-bottom: 30px
}
#definitely{
    margin-top: 20px
}
#comments{
    margin-bottom: 3px;
}

